<div class="container">
  <div class="row">
    <div class="col-xs-8">
      <span class="title">List of Contacts</span>
    </div>
    <div>
      <img class="addimg" ng-src="views/images/add.png" ng-click="addContact()" />
    </div>

  </div>
  <div><br /></div>
  <div class="row message" ng-repeat="contact in contactList.lists">
    <div ng-show="editMode" class="step">
      <div class="col-xs-12">EDIT BELOW: <br /></div>
      <div class="col-xs-12" ><input ng-show="editMode" ng-model="contact.name"></div>
      <div class="col-xs-12" ><input ng-show="editMode" ng-model="contact.address"></div>
      <div class="col-xs-12" ><input ng-show="editMode" ng-model="contact.phone"></div>
      <div class="col-xs-12" ><input ng-show="editMode" ng-model="contact.note"></div>
    </div>
   <div class="col-xs-12">

      <div ng-hide="editMode" class="col-xs-12">{{contact.name | uppercase}}</div>

    </div>
    <div class="col-xs-12">
      <div class="col-xs-1"></div>
      <div ng-hide="editMode" >{{contact.address }}</div>
    </div>
    <div class="col-xs-12">
      <div class="col-xs-1"></div>
      <div ng-hide="editMode">{{contact.phone}}</div>
    </div>
    <div class="col-xs-12">
      <div ng-hide="editMode" class="col-xs-9">{{contact.note}}</div>
      
      <div ng-hide="editMode" class="col-xs-1 " ng-click="removeContact(contact)">
      <button type="button" class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-remove"></span></button></div>
      <div ng-hide="editMode" class="col-xs-1" ng-click="editMode=true" ><button type="button" class="btn btn-xs btn-edit"><span class=" glyphicon glyphicon-pencil"></span></button></div>
      <div class= "col-xs-1 " ng-show="editMode" ng-click="editContact(contact); editMode=false"><button type="button" class="btn btn-xs btn-success"><span class="glyphicon glyphicon-ok"></span></div>



    </div>


    </div>

</div>
