
<div class="container">
    <div class="col-xs-12" >
      <div class="col-xs-6" >
        <img class="babyimg" src={{imgLoad}} />
        {{name | uppercase }}
      </div>
      <div class="col-xs-6 addButton">
          <button class="btn btn-primary btn-lg" ng-click="addDetail()">Add an Event</button>
      </div>
      <div>
        <hr>
      </div>
    </div>
    <div class="col-xs-12">
      <div class="input-group"> <span class="input-group-addon">Filter</span>
        <input type="text" class="form-control" ng-model="search.etype" placeholder="Type event here...">
      </div>
      total lead items: {{eventsList.events.length}}
      <!--isArrowShow when the evenList.length > entryLimit-->
      <div ng-show="isArrowShow()">
        <pagination page="currentPage" max-size="noOfPages" total-items="totalItems" items-per-page="entryLimit" class="pagination"previous-text="" next-text=""></pagination>
      </div>
    <div class="row" ng-repeat="event in filtered = eventsList.events | filter:search | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit" >
      <div ng-show="editMode" class="step">
        <div class="col-xs-12">EDIT BELOW: <br /></div>
        <div class="col-xs-12" ><input ng-show="editMode" ng-model="event.etype"></div>
        <div class="col-xs-12" ><input ng-show="editMode" datetime="MM-dd-yyyy" ng-model="event.date"></div>
        <div class="col-xs-12" ><input ng-show="editMode" ng-model="event.time"></div>
        <div class="col-xs-12" ><input ng-show="editMode" ng-model="event.note"></div>
      </div>
     <div class="col-xs-12">

       <div>
         <hr>
       </div>
        <div ng-hide="editMode" class="col-xs-12">{{event.etype | uppercase}}</div>

      </div>
      <div class="col-xs-12">
        <div ng-hide="editMode" class="col-xs-2">{{event.date | date : "M/d/yy" }}</div>
        <div ng-hide="editMode" class="col-xs-2">{{event.time}}</div>
        <div ng-hide="editMode" class="col-xs-6">{{event.note}}</div>

        <div ng-hide="editMode" class="col-xs-1 glyphicon glyphicon-remove" ng-click=removeEvent(event)></div>
        <div class="col-xs-1 glyphicon glyphicon-edit" ng-click="editMode=true" ></div>
        <div class= "col-xs-1 glyphicon glyphicon-ok" ng-show="editMode" ng-click="editEvent(event); editMode=false"></div>
      </div>


      </div>

  </div>
