<div class="container">
    <div class="row">
      <div class="col-xs-8">
        <span class="title">Welcome to Growth and Development Trac</span>
      </div>
      <div class="col-xs-4" id="logout"><span>{{userObject.userName}}</span>
        <span><button class="btn btn-default" ng-click="logout()">Log Out</button>
        </span>
      </div>

    </div>
    <div >
        <div class="col-xs-12">
          <div class="col-xs-8"></div>
          <div>
            <img class="addimg" ng-src="views/images/add.png" ng-click="addChild()" />
          </div>
        </div>
        <div ng-repeat="child in childrenList.children" >
            <div class="col-xs-12">
              <br />
            </div>
            <div class="message col-xs-12">
              <a href="#/info/{{child._id}}/{{child.first}}/{{child.gender}}" >
              <div ng-hide="editMode" class="col-xs-4">{{child.first}} {{child.last}}</b></div>
              <div ng-hide="editMode" class="col-xs-4">{{child.dob | date: "MMM d, yyyy" }}</div>
              <div ng-hide="editMode" class="col-xs-2">{{child.gender}}</div>
              </a>
              <div ng-hide="editMode" class="col-xs-2" ng-click="editMode=true" ><button type="button" class="btn btn-xs btn-edit"><span class=" glyphicon glyphicon-pencil"></span></button></div>
            </div>
            <div class="row">
              <div class="col-xs-12" ><input ng-show="editMode" ng-model="child.first"><br /></div>
              <div class="col-xs-12" ><input ng-show="editMode" ng-model="child.last"></div>
              <div class="col-xs-12" ><input ng-show="editMode" ng-model="child.dob"></div>
              <div class="col-xs-12" ><input ng-show="editMode" ng-model="child.gender"></div>
              <div class="col-xs-12" ng-show="editMode" ng-click="editaChild(child); editMode=false"><button type="button" class="btn btn-xs btn-success"><span class="glyphicon glyphicon-ok"></span></div>

            </div>
          </div>

      </div>
</div>
