<ul class="nav navbar-nav navbar-right navbar-default menu navmenu" >
    <li  ng-class="menuIndice == 1 ? 'active':''" ><a ng-click="menuIndice = 1" data-toggle="collapse" data-target=".navbar-collapse" href="#/user">Home</a></li>
    <!--Future use if there is drop down list-->
    <!-- <li class="drop down">
          <a class="dropdown-toggle" data-toggle="dropdown">Data Entry<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#/milestones">Milestones</a></li>
            <li><a href="#/events">Events</a></li>
            <li><a href="#/medicalinfo">Medical Notes</a></li>
          </ul>

      </li> -->
    <li  ng-class="menuIndice == 2 ? 'active':''"><a ng-click="menuIndice = 2" data-toggle="collapse" data-target=".navbar-collapse" href="#/resources">Resources</a></li>
    <li ng-class="menuIndice == 3 ? 'active':''"><a ng-click="menuIndice = 3"  data-toggle="collapse" data-target=".navbar-collapse" href="#/contact">Contact</a></li>
    <li>
      &nbsp;&nbsp;
    </li>
  </ul>
