<ul class="nav navbar-nav navbar-right">
    <li class="active"><a href="#/user">Home</a></li>
    <!-- <li class="drop down">
          <a class="dropdown-toggle" data-toggle="dropdown">Data Entry<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#/milestones">Milestones</a></li>
            <li><a href="#/events">Events</a></li>
            <li><a href="#/medicalinfo">Medical Notes</a></li>
          </ul>

      </li> -->
    <li><a href="#/resources">Resources</a></li>
    <li><a href="#/contact">Contact</a></li>
    <li>
      &nbsp;&nbsp;
    </li>
  </ul>
