<!-- <ul>
  <li><a href="#/user">User Home</a></li>
  <li><a href="#/info">Info Page</a></li>
  <li><a href="#/contact">Info Page</a></li>
</ul> -->

  <ul class="nav navbar-nav navbar-right">
    <li class="active"><a href="#/user">Home</a></li>
    <li class="drop down">
          <a class="dropdown-toggle" data-toggle="dropdown">Data Entry<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#/milestones">Milestones</a></li>
            <li><a href="#/events">Events</a></li>
            <li><a href="#/medicalinfo">Medical Notes</a></li>
          </ul>

      </li>
    <li><a href="#/resources">Resources</a></li>
    <li><a href="#/contact">Contact Info</a></li>
    <li>
      &nbsp;&nbsp;
    </li>
  </ul>
