
<div class="container">
  <div class="row">
    <div class="col-xs-3">
      <img src="" />
    </div>
    <div class="col-xs-3">
      {{name}}
    </div>
  </div>


  <form ng-submit="addDetail(person)">
    <div class="col-xs-12">
    <div id="myDropdown" class="dropdown-content" >
    Type:<select name="mydropdown" ng-model="person.etype">
           <option value="" disabled="disabled" selected="selected">Please select a name</option>
           <option value="1">Feeding</option>
           <option value="2">Diaper Change</option>
           <option value="3">Medical</option>
           <option value="4">Dental</option>
           <option value="5">Milestones</option>
           <option value="6">Other</option>
      </select>
      </div>
      <div>
        Date: <input type="text" ng-model="person.date"><br>
      </div>
      <div>
          Time: <input type="text" ng-model="person.time"><br><br>
      </div>
      <div>
        Note: <textarea name="name" rows="5" cols="20" ng-model="person.note"></textarea>

      </div>
        <input id="submit" type="submit" class="btn btn-primary">

    </form>
    </div>
    <div class="row" ng-repeat="event in eventsList.events" >
      <div class="col-xs-12">
        <div class="col-xs-1" ><input ng-show="editMode" ng-model="event.etype"></input></div>
        <div class="col-xs-2" ><input ng-show="editMode" ng-model="event.date"></input></div>
        <div class="col-xs-2" ><input ng-show="editMode" ng-model="event.time"></input></div>
        <div class="col-xs-3" ><input ng-show="editMode" ng-model="event.note"></input></div>
      </div>
     <div class="col-xs-12">
        <div ng-hide="editMode" class="col-xs-1">{{event.etype}}</div>
        <div ng-hide="editMode" class="col-xs-2">{{event.date | date : "M/d/yy" }}</div>
        <div ng-hide="editMode" class="col-xs-2">{{event.time}}</div>
        <div ng-hide="editMode" class="col-xs-3">{{event.note}}</div>

        <div class="col-xs-2 glyphicon glyphicon-remove" ng-click=removeEvent(event)></div>
        <div class="col-xs-2 glyphicon glyphicon-edit" ng-click="editMode=true" ></div>
        <div class= "glyphicon glyphicon-ok" ng-show="editMode" ng-click="editEvent(event); editMode=false"></div>
      </div>

        <div style="height:30px">

        </div>
      </div>
      </a>
  </div>

</div>
