<!-- <div class="instructions">
    <div class="container">
        <h1 class="lead">Passport Authentication</h1>
    </div>
</div> -->
<div class="container">
      <div class="navbar navbar-inverse navbar-static-top">

      <div class="col-md-12">
        <!--top picture
        <div class="row headpic " >
            <img id ="header-img" src="views/images/growing.png" />
        </div> -->
     </div>
        <div class="tophead row">
          <div class="col-md-12">
            <a href ="#/user" class="title navbar-brand">GAD Track</a>
            <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
              <span class = "icon-bar"></span>
              <span class = "icon-bar"></span>
              <span class = "icon-bar"></span>
              </button>
              <div class="collapse navbar-collapse navHeaderCollapse">
                <!--navigation-->
                <div ng-include="'views/partials/nav.html'">
              </div>
              </div>
          </div>
        </div>
    </div>
