<!DOCTYPE html>
<html >
    <head>
        <title>Grow and Development-GAD Track </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="vendors/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" href="vendors/bootstrap/fonts">

        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Dancing+Script" />
        <link rel="stylesheet" href="styles/style.css">

        <link rel="stylesheet" href="styles/sweet-alert.css">
        <link rel="stylesheet" href="styles/swal-forms.css">

        <script src="views/sweetalert/sweet-alert.js"></script>
        <script src="views/sweetalert/swal-forms.js"></script>


        <script type="text/javascript" src="vendors/bootstrap/js/jquery.js"></script>
        <script type="text/javascript" src="vendors/angular/angular.min.js"></script>
        <script type="text/javascript" src="vendors/angular-route/angular-route.min.js"></script>
        <script type="text/javascript" src="scripts/client.min.js"></script>
        <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.10.0.js" type="text/javascript"></script>
        <!-- <script type="text/javascript" src="vendors/ui-bootstrap/ui-bootstrap-tpls.js"></script>
    -->
  </head>

    <body ng-app="myApp">
      <header ng-include="'/views/partials/header.html'"></header>

      <main ng-view></main>


        <header ng-include="'/views/partials/footer.html'"></header>
        <script type="text/javascript" src="vendors/bootstrap/js/bootstrap.js"></script>
    </body>
</html>
